@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Document.LstPOViewModel
@{
    ViewBag.Title = "Lista de PO";
    ViewBag.PageIcon = "check-sign";
}

@section Breadcrumbs{
}

<div class="row-fluid">
    <div class="span12 box bordered-box green-border">
        <div class="box-header green-background">
            <div class="title">
                <i class="icon-filter"></i>
                Filtros
            </div>
        </div>
        <div class="box-content box-double-padding">
            <form class="form" style="margin-bottom: 0;">
                <fieldset>
                    <div class="span4">
                        <strong>Código</strong>
                        @Html.TextBoxFor(x => x.Code, new { @class = "span12" })
                    </div>
                    <div class="span4">
                        <strong>Proveedor</strong>

                        @Html.DropDownListFor(x => x.SupplierId, new SelectList(Model.LstSupplier, "SupplierId", "BussinessName"), "[-Seleccione-]", new { @class = "span12 select2" })
                    </div>
                    <div class="span4">
                        <strong>Fecha Pedido</strong>
                        @Html.TextBoxFor(x => x.OrderDate, new { @class = "span12" })
                    </div>
                </fieldset>

                <hr class="hr-normal">

                <div class="form-actions" style="margin-bottom: 0;">
                    <div class="text-right">
                        <div class="btn btn-primary">
                            <i class="icon-save"></i>
                            Filtrar
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<hr />

<div class="row-fluid">
    <div class="col-lg-12" style="padding-bottom: 4%">
        <div class="pull-left">
            @Html.EncodedActionLink(Html.Raw("<i class='icon icon-arrow-left'></i> Atrás"), "MainOption", "Home", "Intranet", new { FatherId = Model.FatherId }, new { @class = "'btn'" })
            @Html.EncodedActionLink(Html.Raw("<i class='icon icon-plus'></i> Nueva P.O."), "AddEditPO", "Document", "Intranet", new { }, new { @class = "'btn btn-primary'" })
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12 box bordered-box green-border" style="margin-bottom:0;">
        <div class="box-header green-background">
            <div class="title"><i class="icon-reorder"></i> Registros</div>
        </div>
        <div class="box-content box-no-padding">
            <div class="responsive-table">
                <div class="scrollable-area">
                    <table class="table table-bordered table-hover table-striped" style="margin-bottom:0;">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Fecha Registro</th>
                                <th>Fecha Pedido</th>
                                <th>Proveedor</th>
                                <th>Puerto</th>
                                <th>CEO Email</th>
                                <th>Estado</th>
                                <th>Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var purcherseOrder in Model.LstPO)
                            {
                                <tr>
                                    <td>@purcherseOrder.Code</td>
                                    <td>@purcherseOrder.RegistrationDate.ToString("dd/MM/yyyy")</td>
                                    <td>@purcherseOrder.OrderDate.ToString("dd/MM/yyyy")</td>
                                    <td>@purcherseOrder.PrePurcherseOrder.Supplier.BussinessName</td>
                                    <td>@purcherseOrder.Port.Name</td>
                                    <td>@purcherseOrder.CEOEmail</td>
                                    <td class="text-center">
                                        @Html.Raw(ConstantHelpers.ESTADO.GetLabelEstado(purcherseOrder.State))
                                    </td>
                                    <td>
                                        <div class='btn-group' style='margin-bottom:5px'>
                                            @Html.EncodedActionLink(Html.Raw("<i class='icon icon-edit'></i> Editar"), "AddEditPO", "Document", "Intranet", new { PurcherseOrderId = purcherseOrder.PurcherseOrderId }, new { @class = "'btn'" })
                                            <button class='btn dropdown-toggle' data-toggle='dropdown'>
                                                <span class='caret'></span>
                                            </button>
                                            <ul class='dropdown-menu'>
                                                @*<li class="divider"></li>*@
                                                <li>
                                                    @Html.EncodedActionLinkModal(Html.Raw("<i class='icon icon-trash'></i> Eliminar"), "_DeletePO", "Document", "Intranet", new { PurcherseOrderId = purcherseOrder.PurcherseOrderId }, new { })
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr style="visibility:hidden"><td colspan="5">&nbsp;</td></tr>
                            <tr style="visibility:hidden"><td colspan="5">&nbsp;</td></tr>
                            <tr style="visibility:hidden"><td colspan="5">&nbsp;</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-lg-6" style="padding-top: 2%">
        <div class="pull-right">
            @Html.PagedListPager(Model.LstPO, Page => Url.Action("ListPO", new { Page = Page, Code = Model.Code, OrderDate = Model.OrderDate, SupplierId = Model.SupplierId }), ConstantHelpers.Bootstrap3Pager)
        </div>
    </div>
</div>
