@model CHS.TLC.Data.NM.Web.ViewModels.Login.LoginViewModel
@{
    ViewBag.Title = "TLC Data NM";
    Layout = null;
}

<!DOCTYPE html>
<html style="min-height:unset;height:unset">
<head>
    <title>TLC Data NM</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
    <link href='@Url.Content("~/Content/assets/stylesheets/bootstrap/bootstrap.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/bootstrap/bootstrap-responsive.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/jquery_ui/jquery-ui-1.10.0.custom.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/jquery_ui/jquery.ui.1.10.0.ie.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/bootstrap_switch/bootstrap-switch.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/xeditable/bootstrap-editable.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/common/bootstrap-wysihtml5.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/common/bootstrap-wysihtml5.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/jquery_fileupload/jquery.fileupload-ui.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/fullcalendar/fullcalendar.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/select2/select2.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/mention/mention.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/tabdrop/tabdrop.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/datatables/bootstrap-datatable.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/dynatree/ui.dynatree.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/bootstrap_colorpicker/bootstrap-colorpicker.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.min.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/flags/flags.css' media='all' rel='stylesheet")' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/slider_nav/slidernav.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/plugins/fuelux/wizard.css")' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/light-theme.css")' id='color-settings-body-color' media='all' rel='stylesheet' type='text/css' />
    <link href='@Url.Content("~/Content/assets/stylesheets/demo.css")' media='all' rel='stylesheet' type='text/css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        .bg {
            background-image: url('@Url.Content("~/Content/assets/images/login/fondo.png")') !important;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body class='contrast-red sign-in bg'>
    <div id='wrapper'>
        <div class='application'>
            <div class='application-content'>
                <a href="#">
                    <img src="@Url.Content("~/Content/assets/images/login/TLeanHorizontalNegativo.png")"/>
                </a>
            </div>
        </div>
        <div class='controls'>
            <div class='caret'></div>
            <div class='form-wrapper'>
                <h1 class='text-center'>Iniciar Sesión</h1>
                <form accept-charset="UTF-8" method="post">
                    <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="&#x2713;" />
                    </div>
                    <div class='row-fluid'>
                        <div class='span12 icon-over-input'>
                            @Html.TextBoxFor( x => x.UserName, new { @class = "span12", @placeholder = "Código de usuario" })
                            <i class='icon-user muted'></i>
                        </div>
                    </div>
                    <div class='row-fluid'>
                        <div class='span12 icon-over-input'>
                            @Html.TextBoxFor(x => x.Password, new { @class = "span12", @placeholder = "Contraseña" , @type = "password" })
                            <i class='icon-lock muted'></i>
                        </div>
                    </div>

                    <button class="btn btn-block" name="button" type="submit">Ingresar</button>
                </form>
                <div class='text-center'>
                    <hr class='hr-normal' />
                    <a href="#">¿Olvidó su contraseña?</a>
                </div>
            </div>
        </div>
    </div>
    <script src='@Url.Content("~/Content/assets/javascripts/jquery/jquery.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/mobile_events/jquery.mobile-events.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/jquery/jquery-migrate.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/jquery_ui/jquery-ui.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/bootstrap/bootstrap.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/flot/excanvas.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/sparklines/jquery.sparkline.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/flot/flot.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/flot/flot.resize.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/flot/flot.pie.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/bootstrap_switch/bootstrapSwitch.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fullcalendar/fullcalendar.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/datatables/jquery.dataTables.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/datatables/jquery.dataTables.columnFilter.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/common/wysihtml5.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/common/bootstrap-wysihtml5.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/select2/select2.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/bootstrap_colorpicker/bootstrap-colorpicker.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/mention/mention.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/input_mask/bootstrap-inputmask.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fileinput/bootstrap-fileinput.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/modernizr/modernizr.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/retina/retina.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fileupload/tmpl.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fileupload/load-image.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fileupload/canvas-to-blob.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fileupload/jquery.iframe-transport.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fileupload/jquery.fileupload.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fileupload/jquery.fileupload-fp.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fileupload/jquery.fileupload-ui.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fileupload/jquery.fileupload-init.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/timeago/jquery.timeago.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/slimscroll/jquery.slimscroll.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/autosize/jquery.autosize-min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/charCount/charCount.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/validate/jquery.validate.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/validate/additional-methods.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/naked_password/naked_password-0.2.4.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/nestable/jquery.nestable.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/tabdrop/bootstrap-tabdrop.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/jgrowl/jquery.jgrowl.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/bootbox/bootbox.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/xeditable/bootstrap-editable.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/xeditable/wysihtml5.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/ckeditor/ckeditor.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/dynatree/jquery.dynatree.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/bootstrap_daterangepicker/moment.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/bootstrap_maxlength/bootstrap-maxlength.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/bootstrap_hover_dropdown/twitter-bootstrap-hover-dropdown.min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/slider_nav/slidernav-min.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/plugins/fuelux/wizard.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/nav.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/tables.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/theme.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/demo/jquery.mockjax.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/demo/inplace_editing.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/demo/charts.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Content/assets/javascripts/demo/demo.js")' type='text/javascript'></script>
</body>
</html>
