@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Master.AddEditSubFamilyViewModel
@{
    ViewBag.Title = "Nueva Subfamilia";
    ViewBag.PageIcon = "arrow-right";
}

<div class='row-fluid'>
    <div class='span12 box'>
        <div class='box-header green-background'>
            <div class='title'>
                <div class='icon-edit'></div>
                Formulario
            </div>
        </div>
        <div class='box-content'>
            <form class="form" method="post" style="margin-bottom: 0;">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.SubFamilyId)
                <div class='control-group' style="padding-bottom: 3%;">
                    <label class='control-label' for='SKUCode'>Familia</label>
                    <div class='controls'>
                        @Html.DropDownListFor(x => x.FamilyId, new SelectList(Model.LstFamily, "FamilyId", "Description"), "[-Seleccione-]", new { @class = "select2 span12" })
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='Description'>Descripción</label>
                    <div class='controls'>
                        @Html.TextBoxFor(x => x.Description, new { @class = "input-block-level", @placeholder = "Descripción" })
                    </div>
                </div>
                <div class='control-group'>
                    <button class="btn btn-primary" type="submit"><i class="icon icon-save"></i> Guardar</button>
                    <a class="btn btn-default" href="@Url.Action("ListSubFamily", "Master")"><i class="icon icon-arrow-left"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>