@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Store.AddEditEntryNoteViewModel
@{
    ViewBag.Title = (Model.EntryNoteId.HasValue ? "Editar" : "Agregar") + " nota de entrada";
    ViewBag.PageIcon = "arrow-left";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListEntryNote","Store")">Lista de notas de entradas</a></li>
    <li class="separator"><i class="icon-angle-right"></i></li>
}

<div class="row-fluid">
    <div class="span12 box bordered-box green-border">
        <div class="box-header green-background">
            <div class="title">
                <i class="icon-reorder"></i>
                Formulario
            </div>
        </div>
        <div class="box-content box-double-padding">
            <form class="form" style="margin-bottom: 0;" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.EntryNoteId)
                @Html.HiddenFor(x => x.SupplierId)
                @Html.HiddenFor(x => x.DocumentCode)

                <fieldset>
                    <div class='control-group pull-right'>
                        <label class='control-label' for='RegistrationDate'>
                            <strong>Fecha de Registro : @Model.Date</strong>
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="control-label">#Nota Entrada</label>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Code, new { @class = "span12", @type = "text" })
                            <p class="help-block">
                            </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="span4">
                            <label class="control-label">Tipo Documento</label>
                            <div class="controls">
                                @Html.DropDownListFor(x => x.DocumentTypeId, new SelectList(Model.LstDocumentType, "DocumentTypeId", "Acronym"), new { @class = "span12 select2" })
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                        <div class="span4">
                            <label class="control-label">#Documento</label>
                            <div class="controls">
                                <select id="DocumentId" name="DocumentId" class="span12"></select>
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                        <div class="span4">
                            <label class="control-label">Tipo Movimiento</label>
                            <div class="controls">
                                @Html.DropDownListFor(x => x.MovementTypeId, new SelectList(Model.LstMovementType, "MovementTypeId", "Name"), new { @class = "span12 select2" })
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="span3">
                            <label class="control-label">Proveedor</label>
                            <div class="controls">
                                <input type="text" class="span12" id="NombreProveedor" name="NombreProveedor" />
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                        <div class="span9">
                            <label class="control-label">#Guía de Proveedor</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.SupplierGuideNumber, new { @class = "span12", @type = "text" })
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">#Guía del Transportista</label>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.TransportGuideNumber, new { @class = "span12", @type = "text" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Hora Llegada Transporte</label>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.TransportTime, new { @class = "span12", @type = "text" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">#Presinto</label>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Seal, new { @class = "span12", @type = "text" })
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="control-group">
                        <div class="span6">
                            <label class="control-label">Transferencia</label>
                            <div class="controls">
                                @Html.DropDownListFor(x => x.TransferStoreId, new SelectList(Model.LstStore, "StoreId", "Name"), new { @class = "select2 span12" })
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                        <div class="span6">
                            <label class="control-label">Almacen Destino</label>
                            <div class="controls">
                                @Html.DropDownListFor(x => x.DestinationStoreId, new SelectList(Model.LstStore, "StoreId", "Name"), new { @class = "select2 span12" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr class="hr-normal">
                <br />
                <div class="responsive-table">
                    <div class="scrollable-area">
                        <table class="table table-bordered table-hover table-striped" style="margin-bottom:0;" id="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Desc. Invoice</th>
                                    <th>Desc. Local</th>
                                    <th>Familia</th>
                                    <th>Cod. Diseño</th>
                                    <th>Cant. Pedida</th>
                                    <th>Uni. Pedida</th>
                                    <th>Cant. Real</th>
                                    <th>Und. Real</th>
                                    <th>Cant. Real</th>
                                    <th>Und. Real</th>
                                    <th>Parcial/Total</th>
                                </tr>
                            </thead>
                            <tbody id="body-po"></tbody>
                        </table>
                    </div>
                </div>

                <div class="form-actions" style="margin-bottom: 0;">
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary">
                            <i class="icon-save"></i>
                            Guardar
                        </button>
                        <a class="btn btn-default" href="@Url.Action("ListEntryNote", "Store")"><i class="icon icon-arrow-left"></i> Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on('ready', function () {
            $('#DocumentId').select2({
                ajax: {
                    url: '@Url.Action("GetDocumentByCode", "Json")',
                    dataType: 'json',
                    type: "GET",
                    data: function (params) {
                        return {
                            q: params.term,
                            documentTypeId: $('#DocumentTypeId').val()
                        };
                    },
                    processResults: function (data) {
                        var arr = [];
                        $.each(data, function (index, value) {
                            arr.push({
                                id: value.id,
                                text: value.text
                            });
                        });
                        return {
                            results: arr
                        };
                    },
                    initSelection: function (element, callback) {
                        callback({ id: '@Model.DocumentId', text: '@Model.DocumentCode' });
                    }
                },
                minimumInputLength: 1,
                placeholder: 'Codigo Documento'
            });
            @if (Model.DocumentId != 0) {
                <text>
            var newOption = new Option('@Model.DocumentCode', '@Model.DocumentId', true, true);
            $("#DocumentId").append(newOption).trigger('change');
                </text>
            }

            $('#DocumentId').on('change', function () {
                var parameter = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetPurcherseOrderInfo", "Json")' + '?PurcherseOrderId=' + parameter,
                    type: 'GET',
                    success: function (data) {
                        if (data.length > 0) {
                            $('#NombreProveedor').val(data[0].supplierName);
                            $('#SupplierId').val(data[0].supplierId);
                            $('#DocumentCode').val(data[0].documentCode);
                        }
                        var template = '';
                        for (var i = 0; i < data.length; i++){
                            var value = data[i];

                            template = '<tr>' +
                                '<td>' + value.code +'</td>' +
                                '<td>' + value.descriptionInvoice +'</td>' +
                                '<td>' + value.descriptionLocal +'</td>' +
                                '<td>' + value.family +'</td>' +
                                '<td>' + value.desing +'</td>' +

                                '<td><input class="span9" readonly data-type="startP-' + value.prePurcherseOrderDetailId +'" value="' + value.quantity +'" /></td>'+
                                '<td><input class="span9" readonly value="'+ value.unit +'" /></td>'+

                                '<td style="background-color:#78d676"><input class="span9 onlyNumbers realP" value="0" data-index="' + value.prePurcherseOrderDetailId + '" name="qreal-' + value.prePurcherseOrderDetailId+'"/></td>' +
                                '<td style="background-color:#78d676"><input class="span9" value="' + value.unit + '" name="ureal-' + value.prePurcherseOrderDetailId +'" readonly/></td>' +

                                '<td style="background-color:#ef4f4f"><input class="span9 difP" data-type="difP-' + value.prePurcherseOrderDetailId+'" readonly value="0" /></td>'+
                                '<td style="background-color:#ef4f4f"><input class="span9" readonly value="' + value.unit+'" /></td>'+

                                '<td>' +
                                '<select class="form-control" name="typepayment-' + value.prePurcherseOrderDetailId +'">'+
                                    '<option value="PAR">PARCIAL</option>'+
                                    '<option value="TOT">TOTAL</option>'+
                                '</select>'+
                                '</td>'+
                                '</tr > ';

                            $('#body-po').append(template);
                        }
                    }
                });
            });

            $(document).on('keyup', '.realP', function () {
                var value = $(this).val();
                var index = $(this).attr('data-index');
                if (value >= 0) {
                    var startp = $('input[data-type="startP-' + index + '"]').val();
                    var resta = startp - value;
                    $('input[data-type="difP-' + index + '"]').val(resta);
                }
            });
        });
    </script>
}