@{
    ViewBag.GUID = ViewBag.GUID ?? Guid.NewGuid().ToString();

    var hasModalForm = ViewBag.Form != null && ViewBag.Form is ModalFormHelpers;
    var hasAjaxModalForm = ViewBag.Form != null && ViewBag.Form is ModalAjaxFormHelpers;

    if (hasAjaxModalForm && String.IsNullOrEmpty(ViewBag.Form.AjaxOptions.UpdateTargetId))
    {
        ViewBag.Form.AjaxOptions.UpdateTargetId = ViewBag.GUID;
    }
}
@RenderSection("Styles", false)

<div id="@ViewBag.GUID">

    <div class="modal-header" style="color:black">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        @if (ViewBag.Minimize != null || ViewBag.Minimize == true)
        {
            <button type="button" class="close" data-minimize data-target="@ViewBag.GUID">&minus;&nbsp;</button>
        }

        <h5>
            @if (ViewBag.PageIcon != null)
            {
                <i class="icon icon-@ViewBag.PageIcon">&nbsp;</i>
            }
            @ViewBag.Title
            @if (ViewBag.Timer != null || ViewBag.Timer == true)
            {
                <text>-</text> <strong><a class="contadorTiempo"></a></strong>
            }
        </h5>
    </div>

    @if (hasModalForm)
    {
        <text>@{ViewBag.Form.BeginForm(Html);}</text>
    }
    else if (hasAjaxModalForm)
    {
        <text>@{ViewBag.Form.BeginForm(Ajax);}</text>
    }

    <div class="modal-body">
        @if (ViewBag.ModalAjaxLoading != null || ViewBag.ModalAjaxLoading == true)
        {
            <div class="alert alert-warning" style="display:none" id="modalAjaxLoading"><i class="fa fa-spinner fa-spin"></i><strong>&nbsp;Cargando...</strong></div>
        }

        @RenderBody()
    </div>
    @if (ViewBag.DeshabilitarFooter == null || !ViewBag.DeshabilitarFooter)
    {
        <div class="modal-footer">
            @if (ViewBag.DeshabilitarCerrarFooter == null || !ViewBag.DeshabilitarCerrarFooter)
            {
                <button type="button" class="btn" data-dismiss="modal"><i class="icon icon-remove"></i> Salir</button>
            }
            @RenderSection("Footer", false)
        </div>
    }


    @if (ViewBag.Form != null || ViewBag.AjaxForm != null)
    {
        Html.EndForm();
    }
</div>

<script id="rebind-jquery-@ViewBag.GUID">
    RebindJquery($('#rebind-jquery-@ViewBag.GUID').closest('.modal'));
</script>

@if (ViewBag.ModalDialogClass != null)
{
    <script id="modal-dialog-class-@ViewBag.GUID">
        $('#@ViewBag.GUID').closest('.modal-dialog').addClass('@ViewBag.ModalDialogClass');
    </script>
}

@if (ViewBag.ModalClass != null)
{
    <script id="modal-class-@ViewBag.GUID">
        $('#@ViewBag.GUID').closest('.modal').addClass('@ViewBag.ModalClass');

    </script>
}
@if (ViewBag.ModalSize != null)
{
    <script id="modal-size-@ViewBag.GUID">
        $('#@ViewBag.GUID').closest('.modal-dialog').addClass('modal-@ViewBag.ModalSize');
    </script>
}
@if (ViewBag.Timer != null || ViewBag.Timer == true)
{
    <script id="modal-timer-@ViewBag.GUID">
        $('#@ViewBag.GUID').find('.contadorTiempo').countid({
            clock: true,
            dateTplRemaining: "%H:%M:%S",
            dateTplElapsed: "%H:%M:%S",
        })
    </script>
}
@if (ViewBag.ExtraLargeModalSize != null || ViewBag.ExtraLargeModalSize == true)
{
    <script id="modal-extra-size-@ViewBag.GUID">
        $('#@ViewBag.GUID').closest('.modal-dialog').css('width', '90%')
        $('#@ViewBag.GUID').closest('.modal-dialog').css('margin-left', 'auto')
        $('#@ViewBag.GUID').closest('.modal-dialog').css('margin-right', 'auto')
    </script>
}
<script src="@Url.Content("~/Scripts/Pages/Shared/InputControls.js")"></script>
@RenderSection("Scripts", false)
